<footer class="footer">
    <div class="footer-content">
      <div class="footer_logo_container">
        <img src="../../../assets/logo 2.png" />
        <p>კლინიკა</p>
      </div>
      <div class="footer_text_container">
            <div class="footer_headlines">
                <p>ინფორმაცია</p>
                <p>პაციენტებისთვის</p>
                <p>კონტაქტი</p>
                <p>გამოგვყევით</p>
            </div>
            <br />
       <div class="footer_content_text">
        <div>
            <p>ჩვენ შესახეb</p>
            <p> პარტნიორები</p>
            <p>ექიმებისთვის</p>
            <p>კლინიკებისთვის</p>

        </div>
        <div>
            <p>ექიმები</p>
            <p>კლინიკები</p>
            <p>ანოტაციები</p>
            <p>ბლოგი</p>
            <p>მედია</p>
        </div>
        <div>
            <p>სამუშაო დღეები:</p>
            <p>ორშ-პარ</p>
            <p>სამუშაო დრო:</p>
            <p>იაკობ ნიკოლაძე, #10</p>
        </div>
        <div>
            <p>Facebook</p>
            <p>Instagram</p>
            <p>Youtube</p>
            
        </div>

       </div>
      </div>
    </div>
  </footer>